@page
@using RealEstate_Application.Extentions;
@using RealEstate_Application.Utils;
@model RealEstate_Web.Pages.Favourites.IndexModel
@{
    ViewData["Title"] = "علاقه مندی ها";
}
<div class="row mt-5">
    <partial name="_Panel" />
    @if (Model.Favourites.Any())
    {
        <div class="col-lg-9 col-12">
            <div class="row">
                @foreach (var favourite in Model.Favourites)
                {
                    <div class="col-lg-5 col-md-6 col-12">
                        <div>
                            <div class="product-card">
                                <div class="image">
                                    <a asp-page="/EstateDetails" asp-route-Id="@favourite.Id">
                                        <img src="@(PathExtensions.EstateThumb + favourite.Estate.Image)" alt="@favourite.Estate.Title">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <p class="d-flex justify-content-between">
                                        <a asp-page="/EstateDetails" asp-route-Id="@favourite.Id"> @favourite.Estate.Title </a>
                                        <span> @favourite.Estate.Metrage متری </span>
                                    </p>
                                    <p class="mt-2 address">
                                        <i class="fas fa-map-marked-alt text-orange"></i>
                                        @favourite.Estate.Address
                                    </p>
                                    <p class="my-2"> مبلغ : @favourite.Estate.Price.ToToman() </p>
                                </div>
                                <form method="post">
                                    <button asp-page-handler="RemoveToFavourites" asp-route-Id="@favourite.Id" class="btn btn-danger" type="submit"> حذف از علاقه مندی ها </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
